@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
    --color-1: hsl(176, 50%, 47%);
    --color-2: hsl(176, 72%, 28%);
    --color-3: hsl(0, 0%, 0%);
    --color-4: hsl(0, 0%, 48%);
    --color-5: #fff;
    --color-6: hsl(0, 5%, 89%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner';
}

@media(max-width: 768px) {

.nav-links {
    display: none;
}

.mobile-cont {
    display: block;
}
    
.hamburger{
    width: 1.5rem;
    height: 1.6rem;
    position: absolute;
    z-index: 5;
    right: 2rem;
    top: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all .9s;
}

.show-menu .hamburger{
    right: 2rem;
}

.line{
    width: 100%;
    height: .2rem;
    padding: 3px;
    background-color: var(--color-5);
}

.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .7rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.2rem, -.6rem);
}

.sidebar{
    width: 85%;
    height: 40vh;
    background: var(--color-5);
    position: absolute;
    top: -50rem;
    right: 7%;
    border-radius: 8px;
    z-index: 3;
}

.show-menu .sidebar{
    top: 12%;
}

.menu {
    width: 100%;
    position: absolute;
    list-style: none;
}

.menu a {
    display: inline-block;
    width: 100%;
    padding: 20px;
    text-decoration: none;
    color: var(--color-3);
}

.menu a:active {
    background-color: var(--color-4);
}

.menu li {
    width: 100%;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: var(--color-6);
    padding: 0px; 
}

.menu li:not(:last-child) {
    margin-bottom: 5px;
}

}